#root {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #fffaf2;
}

::-webkit-scrollbar-thumb {
    background: #c0bcb3;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #fffaf2;
}
